@use "../abstract/adaptive-mixins" as *;
.technologies {
  &__example {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 4rem;
    @include adaptive(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.6),
      rgba(21, 9, 37, 0.6) 50%
    );
    border-radius: 2rem;
    border: 2px solid rgba(74, 74, 74, 0.5);
    padding: 1.5rem;
    transition: 0.3s all;
  }

  &__img-capcut {
    // для него отделаьно так как он изначально огромный
    width: 5rem;
  }

  &__img,
  &__img-capcut {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    @include adaptive(phone) {
      height: 4rem;
      width: 4rem;
    }
  }

  &__h3 {
    align-self: center;
    margin-bottom: 3rem;
    transition: 0.3s all;
  }

  &__paragraph {
    line-height: 3rem;
  }
}

.animation {
  &:hover {
    box-shadow: 14px 14px 13px 0px rgba(79, 81, 84, 0.5);
    @include adaptive(phone) {
      box-shadow: 6px 6px 13px 0px rgba(79, 81, 84, 0.5);
    }
  }

  &:hover .technologies__h3 {
    scale: 1.1;
    @include adaptive(phone) {
      scale: 1.3;
    }
  }
}
