@use "../abstract/adaptive-mixins" as *;
.maps {
  background-color: black;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.8),
      rgba(40, 40, 40, 0.95)
    ),
    url(../../img/biography-bg.webp) center/cover no-repeat;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include adaptive(tab-port) {
      flex-direction: column;
    }
  }

  &__content {
    padding: 4rem 4rem 4rem 0;
    @include adaptive(tab-port) {
      padding: 4rem 0 4rem 0;
    }
  }
  &__h2 {
    margin-bottom: 3rem;
    @include adaptive(tab-port) {
      text-align: start;
    }
  }

  &__iframe {
    border-radius: 2rem;
    width: 70rem;
    height: 60rem;

    @include adaptive(tab-port) {
      width: 80%;
      height: 40rem;
    }
  }
}
